.Container {
    display: flex;
    flex-direction: column;
    margin: var(--content-margin);
    padding: 40px;
}
.Container h1 {
    font-size: var(--heading-2);
    font-weight: 700;
    text-align: center;
    color: var(--primary);
    margin-bottom: 20px;
}

.Strengths {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 40px;
    margin: 20px 0;
}

.Strength {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px; 
}

.Strength_Name {
    display: flex;
    gap: 5px;
}

.Strength_Name img {
    object-fit: contain;
    background-color: var(--gray);
}

.Strength_Title {
    font-size: var(--heading-4);
    text-align: center;
    font-weight: 700;
    color: var(--primary);
}

.Strength_Description {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--secondary);
}